html {
    font-size: 16px;
    font-family: sans-serif;
}

#form-name {
    font-size: 24px;
    height: 36px;
    margin-bottom: 12px;
}

#form-speed {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#form-speed:hover {
    opacity: 1;
}

#form-speed::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#form-speed::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: green;
    cursor: pointer;
}

#selected-speed {
    font-size: 30px;
}

#main {
    width: 100%;
    margin: 0 auto;
}

#state {
    background-color: #eee;
    padding: 10px;
}

.running #state {
    color: white;
    background-color: green
}

.crashed #state {
    color: white;
    background-color: red;
}

#score {
    transition: background-color 150ms linear;
}

#score.highlight {
    background-color: blue;
    color: white;
}

#game-board {
    width: 100%;
    height: calc(40 * 15px * 1.1);
}

.row {
    display: flex;
}

.cell {
    flex: 1;
    background-color: #eee;
    margin: 0 1px 1px 0;
    height: 15px;
}

.snake {
    width: 100%;
    height: 100%;
    background-color: green;
}

.snake__head {
    background-color: darkslategrey;
}

.crashed .snake {
    background-color: red;
}

.crashed .snake__head {
    background-color: darkred;
}

#food {
    width: 100%;
    height: 100%;
    background-color: orange;
}

#mobile-controls {
    margin: 32px auto;
    width: 80%;
}

#mobile-controls .control-row {
    display: flex;
}

#mobile-controls .control-cell {
    flex: 1;
    text-align: center;
    padding: 20px 10px;
    margin: 3px;
}

.control-cell.btn {
    background-color: #eee;
    font-size: 32px;
}

.control-cell.btn:focus,
.control-cell.btn:hover {
    background-color: #aaa;
}

#global-highscore-modal {
    position: fixed;
    background-color: white;
    width: 300px;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    border: 1px solid black;
    display: none;
    padding: 16px;
}

@media (min-device-width: 600px) {
    html {
        font-size: 14px;
    }

    #mobile-controls {
        display: none;
    }

    #main {
        max-width: 690px;
    }

    #game-board {
        height: calc(40 * 10px * 1.1);
    }
    
    .cell {
        height: 10px;
    }
}
